{% extends "layout.twig" %}

{% block title %}Слушать {{ q }} онлайн{% endblock %}
{% block description %}Слушать {{ q }} онлайн, скачать {{ q }} бесплатно{% endblock %}

{% block content %}
  {% if artistInfo %}
    <div class="artist-info">
      <div class="artist-info-more">
        {% if attribute(artistInfo.artist.image.2, '#text') %}
          <img class="fl" src="{{ attribute(artistInfo.artist.image.2, '#text') }}"/>
        {% endif %}
        <h2>{{ artistInfo.artist.name }}</h2>

        {{ artistInfo.artist.bio.summary|striptags|raw }}

        <div class="similar">
          {% set similar = artistInfo.artist.similar.artist is defined ? artistInfo.artist.similar.artist : [] %}

          {% if similar %}
            Похожие исполнители:
            {% for artist in similar %}
              <a class="noreload" href="{{ url('search.artist', {artist: artist.name}) }}">{{ artist.name|raw }}</a>
              {% if not loop.last %} &bull; {% endif %}
            {% endfor %}
          {% endif %}
        </div>
        <div class="clr"></div>
      </div>
    </div>
  {% endif %}

  <h1>«{{ q }}» ({{ count|number_format(0, '.', ' ') }})</h1>

  <div class="tracks">
    {% for i,track in tracks %}
      {% include 'root/track-item.twig' %}
    {% else %}
      Ничего нет<br/>
      <img src="http://fc06.deviantart.net/fs70/i/2013/013/2/c/grumpy_cat_by_adlynh-d5rdjjr.png" width="100%"/>
    {% endfor %}
  </div>
{% endblock %}