<div
  class="track {% if  0 == i%2 %}odd{% endif %}"
  data-vkid="{{ track.vkId }}"
  >
  <div class="fl">
    <div class="controls">
      <a href="javascript:" class="track-play"></a>
      <a href="javascript:" class="track-pause"></a>

      <div class="clr"></div>
    </div>

    <a class="noreload track-artist" href="{{ url('search.artist', {artist: track.artist|url_encode}) }}">{{ track.artist|raw }}</a>
    —
    <a class="noreload track-title" href="{{ url('track', {vkId: track.vkId}) }}">{{ track.title|raw }}</a>

    <div class="clr"></div>
  </div>

  <span class="fr">
    <a href="{{ url('mp3', {vkid:  track.vkId, dl: 1}) }}" target="_blank" class="track-download"></a>
    {% if playlistId %}
      <a href="javascript:" class="track-delfromplaylist" data-playlistid="{{ playlistId }}"></a>
    {% elseif app.user.get() %}
      <a href="javascript:" class="track-addtoplaylist"></a>
    {% endif %}

    {{ track.duration }}
  </span>
  
  <div class="clr"></div>
</div>