{% extends "layout.twig" %}

{% block title %}Слушать {{ track.artist }} — {{ track.title }} онлайн{% endblock %}
{% block description %}Слушать {{ track.artist }} — {{ track.title }} онлайн, скачать {{ track.artist }} — {{ track.title }} бесплатно{% endblock %}

{% block content %}
	{% include 'root/track-item.twig' %}

  {% if lyrics %}
    <div class="lyrics">
      <h2>{{ track.artist }} — {{ track.title }}</h2>
      <br/>
      {{ lyrics|raw|nl2br }}
    </div>
  {% endif %}
{% endblock %}