<div
  class="track {% if  0 == i%2 %}odd{% endif %}"
  data-mid="{{ track.mid }}"
  >
  <div class="fl">
    <div class="controls">
      <a href="javascript:" class="track-play"></a>
      <a href="javascript:" class="track-pause"></a>

      <div class="clr"></div>
    </div>

    {% if track.artist %}
      <a class="noreload track-artist" href="{{ url('search.artist', {artist: track.artist|url_encode}) }}">{{ track.artist|raw }}</a>
      —
    {% endif %}
    <a class="noreload track-title" href="{{ url('track', {mid: track.mid}) }}">{{ track.title|raw }}</a>

    <div class="clr"></div>
  </div>

  <span class="fr">
    <a href="{{ url('mp3', {mid:  track.mid, dl: 1}) }}" target="_blank" class="track-download"></a>

    {% if app.user.get() and playlistId %}
      <a href="javascript:" class="track-delfromplaylist" data-playlistid="{{ playlistId }}"></a>
    {% elseif app.user.get() %}
      <a href="javascript:" class="track-addtoplaylist"></a>
    {% endif %}

    {{ track.duration|date('i:s') }}
  </span>
  
  <div class="clr"></div>
</div>